.navflexj{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
}
@media (max-width: 520px) {
   .navbar-brand{
       font-size: 20px !important;
       padding: 5px;
       padding-top: 15px;
   }
   .navflexj button{
       font-size: 10px;
   }
   .m-5{
       margin: 15px !important;
   }
   
}


@media (min-width: 34em) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;

}
/* body{
    zoom:80%;
} */
/* #searchj{
    width:50%
} */
}
@media (min-width: 48em) {
  
.card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    
}
.card-columns2 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    
}
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page5 body
{
    background:rgba(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page5 p{
	font-size:30px;
	font-family:sans-serif;
	font-weight:bold;
	color:#4183BB;
	
}
.page5 .container{
    max-width:300px;
    border-radius: 20px;
} 
.page5 .card{
    border-radius: 20px;
    height: 380px;
    background-color: #4183BB;
    border:none;
    overflow: hidden;
    box-shadow: 0px 0px 10px #4183BB;
    z-index:0;
    box-sizing: border-box;
    min-width: 240px;
}
.circle{
    position:absolute;
    bottom:-260px;
    left:50%;
    transform:translate(-50%,-50%);
    background:#ffffff;
    clip-path:circle(50%);
    height:700px;
    width:700px;
    z-index:-1;
    overflow:hidden;
	
}
.circle1{
    position:absolute;
    bottom:-320px;
    left:50%;
    transform:translate(-50%,-50%);
    background:lightgrey;
    clip-path:circle(50%);
    height:700px;
    width:700px;
    z-index:-1;
overflow:hidden}

.page5 .myHed{
    margin-top:30px;
    font-size: 32px;
    margin-bottom:10px;
    font-weight:700;
    background-image: linear-gradient(to right,  #ffffff,#000000);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.page5 .far{
    font-size:40px;
}
.page5 .fas{
    position:relative;
    display:block;
    left:-87px;
    top:30px;
    color:rgb(10, 8, 8);
}
.page5 .button{
    width:250px;
    border-radius: 25px;
    background-color:#4183BB;
    color:#fff;
    font-weight: 700;
    cursor: pointer;
}
 .page5 .myInput{
    width:220px;
    padding:10px;
    padding-left:40px;
    border-radius: 25px;
    background-color:lightgrey;
    color:#4183BB;
    border:none;
    display: block;
	margin:4px;
	border:2px solid #4183BB;
	
}
.page5 .form-control{
	background-color:#4183BB;
	
}
 .page5 .myInput::placeholder{
    color:#fff;
   
}
 .page5 .myInput:focus{
    border:none;
    outline:none;
}
.page5 .check_1{
    font-weight: 500;
    color:rgb(85,85,85);
    font-size: 12px;
    margin:15px auto;
    cursor: pointer;
}

.flex{
    display:flex;
    justify-content:center;
    gap:10px;
    align-items: center;
    
}
@media (max-width: 768px){
    .page5 .container{
        max-width: 80%;max-height:50%;
    }
}
.Main{
    background-color: #f5f5f5;
}
.dark{
    background-color: #1d1a1af3;
    color: white;
}
.halfb{
    background-color: #fff;
}
.halfblack{
    background-color: rgb(58, 58, 58);
}
/* .border{
    border: 1px solid #4183BB;
}  */
/* #searchj{
    width:50%
} */
.inputbackgdark{
    background-color: rgba(48, 45, 45, 0.74);
    color:#dadadaf3;
    
    border:solid 1px rgb(173, 172, 172);
}
.inputbackgdark:focus{
    background-color:rgba(48, 45, 45, 0.863);
    color:#dadadaf3;
}
.backdrop{
    backdrop-filter: blur(4px) brightness(0.9) 
}
.backdropdark{
    backdrop-filter: blur(4px) brightness(1.1) contrast(.7)
}
.hide{
    display:none;
}
.shadowblue{
    box-shadow : 0px 0px 15px #4182bbb6 !important;
    animation: shadowhide 1s
}
@keyframes shadowhide{
    0%{
        opacity: 0;
       
    }
    100%{
        opacity: 1;
        
    }
}
/* progress */
/* OUM 884682847 */
.bordercol{ 
    border:1px solid #4183BB;

}